extends layout

block content
  h1 Add a New Message
  form(method="POST", action="/new")
    div
      label(for="user") Author's Name:
      input(type="text", id="user", name="user", required=true)
    div
      label(for="text") Message Text:
      textarea(id="text", name="text", required=true)
    div
      button(type="submit") Submit